<div class="menu-item first"><label>Ruby概要</label>
  <%# <a href="#" class="menu-item-item1 detail">エラー</a><a href="#" class="menu-item-item2 detail">エラー</a>
  <a href="#" class="menu-item-item3 detail">エラー</a><a href="#" class="menu-item-item4 detail">エラー</a>
  <a href="#" class="menu-item-item5 detail">エラー</a><a href="#" class="menu-item-item6 detail">エラー</a>
  <a href="#" class="menu-item-item7 detail">エラー</a><a href="#" class="menu-item-item8 detail">エラー</a>
  <a href="#" class="menu-item-item9 detail">エラー</a><a href="#" class="menu-item-item10 detail">エラー</a>
  <a href="#" class="menu-item-item11 detail">エラー</a><a href="#" class="menu-item-item12 detail">エラー</a>
  <a href="#" class="menu-item-item13 detail">エラー</a><a href="#" class="menu-item-item14 detail">エラー</a> %>
</div>
<div class="menu-item second"><label>基本構文</label>
  <%# <a href="#" class="menu-item-item1 detail">エラー</a><a href="#" class="menu-item-item2 detail">エラー</a>
  <a href="#" class="menu-item-item3 detail">エラー</a><a href="#" class="menu-item-item4 detail">エラー</a>
  <a href="#" class="menu-item-item5 detail">エラー</a><a href="#" class="menu-item-item6 detail">エラー</a>
  <a href="#" class="menu-item-item7 detail">エラー</a><a href="#" class="menu-item-item8 detail">エラー</a>
  <a href="#" class="menu-item-item9 detail">エラー</a><a href="#" class="menu-item-item10 detail">エラー</a>
  <a href="#" class="menu-item-item11 detail">エラー</a><a href="#" class="menu-item-item12 detail">エラー</a>
  <a href="#" class="menu-item-item13 detail">エラー</a><a href="#" class="menu-item-item14 detail">エラー</a> %>
</div>
<div class="menu-item third"><label>フレームワーク</label>
  <a href="/Ruby/framework/Rails" class="menu-item-item1 detail">Rails</a><a href="#" class="menu-item-item2 detail">Hanami</a>
  <a href="#" class="menu-item-item3 detail">Sinatra</a><a href="#" class="menu-item-item4 detail">Cuba</a>
  <a href="#" class="menu-item-item5 detail">Nancy</a><a href="#" class="menu-item-item6 detail">Grape</a>
  <a href="#" class="menu-item-item7 detail">Padrino</a><a href="#" class="menu-item-item8 detail">Ramaze</a>
</div>
<div class="menu-item four"><label>今の所なし</label>
  <%# <a href="#" class="menu-item-item1 detail">ApacheWicket</a><a href="#" class="menu-item-item2 detail">Dropwizard</a>
  <a href="#" class="menu-item-item3 detail">JavaEE</a><a href="#" class="menu-item-item4 detail">JSF</a>
  <a href="#" class="menu-item-item5 detail">Ninja web</a><a href="#" class="menu-item-item6 detail">Play</a>
  <a href="#" class="menu-item-item7 detail">SAStruts</a><a href="#" class="menu-item-item8 detail">Spark</a>
  <a href="#" class="menu-item-item9 detail">SpringBoot</a><a href="#" class="menu-item-item10 detail">Spring</a>
  <a href="#" class="menu-item-item11 detail">Struts</a><a href="#" class="menu-item-item12 detail">ZK</a> %>
</div>
<div class="menu-item five"><label>今の所なし</label>
  <%# <a href="#" class="menu-item-item1 detail">エラー</a><a href="#" class="menu-item-item2 detail">エラー</a>
  <a href="#" class="menu-item-item3 detail">エラー</a><a href="#" class="menu-item-item4 detail">エラー</a>
  <a href="#" class="menu-item-item5 detail">エラー</a><a href="#" class="menu-item-item6 detail">エラー</a>
  <a href="#" class="menu-item-item7 detail">エラー</a><a href="#" class="menu-item-item8 detail">エラー</a>
  <a href="#" class="menu-item-item9 detail">エラー</a><a href="#" class="menu-item-item10 detail">エラー</a>
  <a href="#" class="menu-item-item11 detail">エラー</a><a href="#" class="menu-item-item12 detail">エラー</a>
  <a href="#" class="menu-item-item13 detail">エラー</a><a href="#" class="menu-item-item14 detail">エラー</a> %>
</div>
<div class="menu-item six"><a href="#" class="menu-item-go" >エラー解決</a></div>