<div id=back_ruby>
  <div id="back_stars"></div><div id="back_stars2"></div><div id="back_stars3"></div>
</div>
<div id="header">
  <div id="header_left">
    <a href="/">
      <p>Of the Engineer</p>
      <p>By the Engineer</p>
      <p>For the Engineer</p>
    </a>
  </div>
  <nav class="menu_ruby">
    <input type="checkbox" href="#" class="menu-open" name="menu-open" id="menu-open"/>
    <label class="menu-open-button" for="menu-open">Ruby</label>
    <%= render :partial => "indexCategory" %>
  </nav>
  <%= render :partial => "/common/index_svg" %>
  <div id="header_right_ruby">
    <div id="header_right_ruby_search">
      <input type="text" placeholder="Search...使用不可">
      <div class="search"></div>
    </div>
  </div>
</div>
<div class="Ruby_main">
  <div class="Ruby_main_center">
    
  </div>
</div>
