<div id=back>
  <div id="back_stars"></div><div id="back_stars2"></div><div id="back_stars3"></div>
</div>
<div class="topPage_left">
  <p>Of the Engineer</p>
  <p>By the Engineer</p>
  <p>For the Engineer</p>
  <div class="topPage_left_message"></div>
</div>
<div class="topPage_right">
  <nav class="menu">
    <input type="checkbox" href="#" class="menu-open" name="menu-open" id="menu-open"/>
    <label class="menu-open-button" for="menu-open">
      <span class="hamburger hamburger-1"></span>
      <span class="hamburger hamburger-2"></span>
      <span class="hamburger hamburger-3"></span>
    </label>
    <a href="Java" class="menu-item circle1">Java</a>
    <a href="Ruby" class="menu-item circle2">Ruby</a>
    <a href="#" class="menu-item circle3">CSS</a>
    <a href="#" class="menu-item circle4">HTML</a>
    <a href="#" class="menu-item circle5">JavaScript</a>
    <a href="AWS" class="menu-item circle6">AWS</a>
  </nav>
</div>