<div class="menu-item first"><label>AWS概要</label>
  <%# <a href="#" class="menu-item-item1 detail">エラー</a><a href="#" class="menu-item-item2 detail">エラー</a>
  <a href="#" class="menu-item-item3 detail">エラー</a><a href="#" class="menu-item-item4 detail">エラー</a>
  <a href="#" class="menu-item-item5 detail">エラー</a><a href="#" class="menu-item-item6 detail">エラー</a>
  <a href="#" class="menu-item-item7 detail">エラー</a><a href="#" class="menu-item-item8 detail">エラー</a>
  <a href="#" class="menu-item-item9 detail">エラー</a><a href="#" class="menu-item-item10 detail">エラー</a>
  <a href="#" class="menu-item-item11 detail">エラー</a><a href="#" class="menu-item-item12 detail">エラー</a>
  <a href="#" class="menu-item-item13 detail">エラー</a><a href="#" class="menu-item-item14 detail">エラー</a> %>
</div>
<div class="menu-item second"><label>サービス一覧</label>
  <a href="#" class="menu-item-item1 detail">コンピューティング</a><a href="#" class="menu-item-item2 detail">ストレージ</a>
  <a href="#" class="menu-item-item3 detail">データベース</a><a href="#" class="menu-item-item4 detail">移行と転送</a>
  <a href="#" class="menu-item-item5 detail">ネットワーキングとコンテンツ配信</a><a href="#" class="menu-item-item6 detail">開発者用ツール</a>
  <a href="#" class="menu-item-item7 detail">ロボット工学</a><a href="#" class="menu-item-item8 detail">ブロックチェーン</a>
  <a href="#" class="menu-item-item9 detail">衛星</a><a href="#" class="menu-item-item10 detail">管理とガバナンス</a>
  <a href="#" class="menu-item-item11 detail">メディアサービス</a><a href="#" class="menu-item-item12 detail">機械学習</a>
  <a href="#" class="menu-item-item13 detail">分析</a><a href="#" class="menu-item-item14 detail">セキュリティ、ID、およびコンプライアンス</a>
</div>
<div class="menu-item third"><label>サービス一覧</label>
  <a href="#" class="menu-item-item1 detail">モバイル</a><a href="#" class="menu-item-item2 detail">ARとVR</a>
  <a href="#" class="menu-item-item3 detail">アプリケーション統合</a><a href="#" class="menu-item-item4 detail">AWS コスト管理</a>
  <a href="#" class="menu-item-item5 detail">カスタマーエンゲージメント</a><a href="#" class="menu-item-item6 detail">ビジネスアプリケーション</a>
  <a href="#" class="menu-item-item7 detail">エンドユーザーコンピューティング</a><a href="#" class="menu-item-item8 detail">IoT</a>
  <a href="#" class="menu-item-item9 detail">ゲーム開発</a>
</div>
<div class="menu-item four"><label>今の所なし</label>
  <%# <a href="#" class="menu-item-item1 detail">ApacheWicket</a><a href="#" class="menu-item-item2 detail">Dropwizard</a>
  <a href="#" class="menu-item-item3 detail">JavaEE</a><a href="#" class="menu-item-item4 detail">JSF</a>
  <a href="#" class="menu-item-item5 detail">Ninja web</a><a href="#" class="menu-item-item6 detail">Play</a>
  <a href="#" class="menu-item-item7 detail">SAStruts</a><a href="#" class="menu-item-item8 detail">Spark</a>
  <a href="#" class="menu-item-item9 detail">SpringBoot</a><a href="#" class="menu-item-item10 detail">Spring</a>
  <a href="#" class="menu-item-item11 detail">Struts</a><a href="#" class="menu-item-item12 detail">ZK</a> %>
</div>
<div class="menu-item five"><label>今の所なし</label>
  <%# <a href="#" class="menu-item-item1 detail">エラー</a><a href="#" class="menu-item-item2 detail">エラー</a>
  <a href="#" class="menu-item-item3 detail">エラー</a><a href="#" class="menu-item-item4 detail">エラー</a>
  <a href="#" class="menu-item-item5 detail">エラー</a><a href="#" class="menu-item-item6 detail">エラー</a>
  <a href="#" class="menu-item-item7 detail">エラー</a><a href="#" class="menu-item-item8 detail">エラー</a>
  <a href="#" class="menu-item-item9 detail">エラー</a><a href="#" class="menu-item-item10 detail">エラー</a>
  <a href="#" class="menu-item-item11 detail">エラー</a><a href="#" class="menu-item-item12 detail">エラー</a>
  <a href="#" class="menu-item-item13 detail">エラー</a><a href="#" class="menu-item-item14 detail">エラー</a> %>
</div>
<div class="menu-item six"><a href="#" class="menu-item-go" >エラー解決</a></div>