$fg:#AC1400;
$pi:3.14;
$menu-items:6;
$open-distance:105px;
$opening-angle:$pi*2;
%ball{
  background:$fg;
  border-radius:100%;
  width:100px;
  height:100px;
  position:absolute;
  top:10px;
  color:white;
  text-align:center;
  line-height:80px;
  transform:translate3d(0,0,0);
  transition:transform ease-out 200ms;
  font-size: 14px;
}

#back_ruby {
  position: fixed;
  top:0;
  &_stars {
    width: 1px;
    height: 1px;
    background: transparent;
    box-shadow: multiple-box-shadow(700);
    animation: animStar 50s linear infinite;
    &:after {
      content: " ";
      position: absolute;
      top: 2000px;
      width: 1px;
      height: 1px;
      background: transparent;
      box-shadow: multiple-box-shadow(700);
    }
  }
  &_stars2 {
    width: 2px;
    height: 2px;
    background: transparent;
    box-shadow: multiple-box-shadow(200);
    animation: animStar 100s linear infinite;
    &:after {
      content: " ";
      position: absolute;
      top: 2000px;
      width: 2px;
      height: 2px;
      background: transparent;
      box-shadow: multiple-box-shadow(200);
    }
  }
  &_stars3 {
    width: 3px;
    height: 3px;
    background: transparent;
    box-shadow: multiple-box-shadow(100);
    animation: animStar 150s linear infinite;
    &:after {
      content: " ";
      position: absolute;
      top: 2000px;
      width: 3px;
      height: 3px;
      background: transparent;
      box-shadow: multiple-box-shadow(100);
    }
  }
}
#Ruby_header{
  width:100%;
  height:120px;
  background-color: rgba(27,39,53,0.9);
  &_left{
    height:100%;
    width:18%;
    font-size: 20px;
    letter-spacing: 3px;
    float: left;
    p {
      background: -webkit-linear-gradient(white, #38495a);
      height: 33%;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      display: flex;
      justify-content: center;
      align-items: center;
      float: right;
      &:hover{
        opacity:0.7;
      }
    }
  }
  .menu_ruby{
    filter:url('#shadowed-goo');
    float:left;
    margin-left:90px;
    .menu-open{
      display:none;
      &:checked+.menu-open-button{
        transition-timing-function:linear;
        transition-duration:200ms;
        transform:scale(0.8,0.8) translate3d(0,0,0);
      }
      &:checked~.menu-item{
        transition-timing-function:cubic-bezier(0.165, 0.840, 0.440, 1.000);
        @for $i from 1 through $menu-items{
          &:nth-child(#{$i+2}){
            transition-duration:90ms+(100ms*$i);
            transform:translate3d(110px*$i,0,0);
          }
        }
      }
    }
    .menu-open-button{
      @extend %ball;
      z-index:2;
      transition-timing-function:cubic-bezier(0.175, 0.885, 0.320, 1.275);
      transition-duration:400ms;
      cursor:pointer;
      display: flex;
      justify-content: center;
      align-items: center;
      font-weight: bold;
      &:hover{
        transform:scale(1.2,1.2) translate3d(0,0,0);
      }
    }
    .menu-item{
      @extend %ball;
      display: flex;
      justify-content: center;
      align-items: center;
      text-decoration: none;
      &:hover{
        background:white;
        color:$fg;
      }
      @for $i from 1 through $menu-items{
        &:nth-child(#{$i+2}){
          transition-duration:180ms;
        }
      }
    }
  }
  &_right{
    height:100%;
    width:200px;
    float:right;
    display: flex;
    justify-content: center;
    align-items: center;
    &_search{
      position: absolute;
      top: 10px;
      right: 20px;
      width: 300px;
      height: 100px;
      input {
        font-family: 'Inconsolata', monospace;
        position: absolute;
        margin: auto;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        width: 50px;
        height: 50px;
        outline: none;
        border: none;
        background: crimson;
        color: white;
        text-shadow: 0 0 10px crimson;
        padding: 0 80px 0 20px;
        border-radius: 30px;
        box-shadow: 0 0 25px 0 crimson,0 20px 25px 0 rgba(0, 0, 0, 0.2);
        transition: all 1s;
        opacity: 0;
        z-index: 5;
        font-weight: bolder;
        letter-spacing: 0.1em;
        font-size: 20px;
        box-sizing: border-box;
        &:hover {
          cursor: pointer;
        }
        &:focus {
          width: 300px;
          opacity: 1;
          cursor: text;
        }
        &:focus ~ .search {
          right: -250px;
          background: #151515;
          z-index: 6;
          &::before {
            top: 0;
            left: 0;
            width: 25px;
          }
          &::after {
            top: 0;
            left: 0;
            width: 25px;
            height: 2px;
            border: none;
            background: white;
            border-radius: 0%;
            transform: rotate(-45deg);
          }
        }
        &::placeholder {
          color: white;
          opacity: 0.5;
          font-weight: bolder;
        }
      }
      .search{
        position: absolute;
        margin: auto;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        width: 60px;
        height: 60px;
        background: $fg;
        border-radius: 50%;
        transition: all 1s;
        z-index: 4;
        box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.4);
        
        &:hover {
          cursor: pointer;
        }
        &::before {
          content: "";
          position: absolute;
          margin: auto;
          top: 22px;
          right: 0;
          bottom: 0;
          left: 22px;
          width: 12px;
          height: 2px;
          background: white;
          transform: rotate(45deg);
          transition: all .5s;
        }
        &::after {
          content: "";
          position: absolute;
          margin: auto;
          top: -5px;
          right: 0;
          bottom: 0;
          left: -5px;
          width: 25px;
          height: 25px;
          border-radius: 50%;
          border: 2px solid white;
          transition: all .5s;
        }
      } 
    }
  }
}
.Ruby_main{
  width:100%;
  height:1000px;
  background: radial-gradient(ellipse at bottom, #1B2735 0%, #090A0F 100%);
}