$fg:#AC1400;
$pi:3.14;
$menu-items:6;
$open-distance:105px;
$opening-angle:$pi*2;
%ball{
  background:$fg;
  border-radius:100%;
  width:100px;
  height:100px;
  position:absolute;
  top:10px;
  color:white;
  text-align:center;
  line-height:80px;
  transform:translate3d(0,0,0);
  transition:transform ease-out 200ms;
  font-size: 14px;
}
@mixin menu-item-item {
  background:$fg;
  border-radius:100%;
  width:70px;
  height:70px;
  color:white;
  text-align:center;
  line-height:80px;
  transform:translate3d(0,0,0);
  transition:transform ease-out 200ms;
  font-size: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

#back_ruby {
  position: fixed;
  top:0;
  &_stars {
    width: 1px;
    height: 1px;
    background: transparent;
    box-shadow: multiple-box-shadow(700);
    animation: animStar 50s linear infinite;
    &:after {
      content: " ";
      position: absolute;
      top: 2000px;
      width: 1px;
      height: 1px;
      background: transparent;
      box-shadow: multiple-box-shadow(700);
    }
  }
  &_stars2 {
    width: 2px;
    height: 2px;
    background: transparent;
    box-shadow: multiple-box-shadow(200);
    animation: animStar 100s linear infinite;
    &:after {
      content: " ";
      position: absolute;
      top: 2000px;
      width: 2px;
      height: 2px;
      background: transparent;
      box-shadow: multiple-box-shadow(200);
    }
  }
  &_stars3 {
    width: 3px;
    height: 3px;
    background: transparent;
    box-shadow: multiple-box-shadow(100);
    animation: animStar 150s linear infinite;
    &:after {
      content: " ";
      position: absolute;
      top: 2000px;
      width: 3px;
      height: 3px;
      background: transparent;
      box-shadow: multiple-box-shadow(100);
    }
  }
}
#header{
  width:100%;
  height:120px;
  background-color: rgba(27,39,53,0.9);
  position: fixed;
  &_left{
    height:100%;
    width:18%;
    font-size: 20px;
    letter-spacing: 3px;
    float: left;
    p {
      background: -webkit-linear-gradient(white, #38495a);
      height: 33%;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      display: flex;
      justify-content: center;
      align-items: center;
      float: right;
      &:hover{
        opacity:0.7;
      }
    }
  }
  .menu_ruby{
    filter:url('#shadowed-goo');
    float:left;
    margin-left:90px;
    .menu-open{
      display:none;
      &:checked+.menu-open-button{
        transition-timing-function:linear;
        transition-duration:200ms;
        transform:scale(0.8,0.8) translate3d(0,0,0);
      }
      &:checked~.menu-item{
        transition-timing-function:cubic-bezier(0.165, 0.840, 0.440, 1.000);
        @for $i from 1 through $menu-items{
          &:nth-child(#{$i+2}){
            transition-duration:90ms+(100ms*$i);
            transform:translate3d(110px*$i,0,0);
          }
        }
      }
    }
    .menu-open-button{
      @extend %ball;
      z-index:2;
      transition-timing-function:cubic-bezier(0.175, 0.885, 0.320, 1.275);
      transition-duration:400ms;
      cursor:pointer;
      display: flex;
      justify-content: center;
      align-items: center;
      font-weight: bold;
      &:hover{
        transform:scale(1.2,1.2) translate3d(0,0,0);
      }
    }
    .menu-item{
      @extend %ball;
      cursor: pointer;
      &-item1{
        @include menu-item-item();
        position:absolute;
        top:0;
        left:110px;
        cursor: pointer;
        &:hover{
          background:white;
          color:$fg;
        }
      }
      &-item2{
        @include menu-item-item();
        position:absolute;
        top:0;
        left:190px;
        cursor: pointer;
        &:hover{
          background:white;
          color:$fg;
        }
      }
      &-item3{
        @include menu-item-item();
        position:absolute;
        top:0;
        left:270px;
        cursor: pointer;
        &:hover{
          background:white;
          color:$fg;
        }
      }
      &-item4{
        @include menu-item-item();
        position:absolute;
        top:0;
        left:350px;
        cursor: pointer;
        &:hover{
          background:white;
          color:$fg;
        }
      }
      &-item5{
        @include menu-item-item();
        position:absolute;
        top:0;
        left:430px;
        cursor: pointer;
        &:hover{
          background:white;
          color:$fg;
        }
      }
      &-item6{
        @include menu-item-item();
        position:absolute;
        top:0;
        left:510px;
        cursor: pointer;
        &:hover{
          background:white;
          color:$fg;
        }
      }
      &-item7{
        @include menu-item-item();
        position:absolute;
        top:0;
        left:590px;
        cursor: pointer;
        &:hover{
          background:white;
          color:$fg;
        }
      }
      &-item8{
        @include menu-item-item();
        position:absolute;
        top:84px;
        left:82px;
        cursor: pointer;
        &:hover{
          background:white;
          color:$fg;
        }
      }
      &-item9{
        @include menu-item-item();
        position:absolute;
        top:84px;
        left:162px;
        cursor: pointer;
        &:hover{
          background:white;
          color:$fg;
        }
      }
      &-item10{
        @include menu-item-item();
        position:absolute;
        top:84px;
        left:242px;
        cursor: pointer;
        &:hover{
          background:white;
          color:$fg;
        }
      }
      &-item11{
        @include menu-item-item();
        position:absolute;
        top:84px;
        left:322px;
        cursor: pointer;
        &:hover{
          background:white;
          color:$fg;
        }
      }
      &-item12{
        @include menu-item-item();
        position:absolute;
        top:84px;
        left:402px;
        cursor: pointer;
        &:hover{
          background:white;
          color:$fg;
        }
      }
      &-item13{
        @include menu-item-item();
        position:absolute;
        top:84px;
        left:482px;
        cursor: pointer;
        &:hover{
          background:white;
          color:$fg;
        }
      }
      &-item14{
        @include menu-item-item();
        position:absolute;
        top:84px;
        left:562px;
        cursor: pointer;
        &:hover{
          background:white;
          color:$fg;
        }
      }
      &-go,label{
        border-radius: 100%;
        width: 100px;
        height: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        color: white;
        &:hover{
          cursor: pointer;
        }
      }
      .detail{
        display: none;
        font-size:10px;
      }
      a:hover{
        background:white;
        color:$fg;
        cursor: pointer;
      }
      @for $i from 1 through $menu-items{
        &:nth-child(#{$i+2}){
          transition-duration:180ms;
        }
      }
    }
  }
  &_right_ruby{
    height:100%;
    width:200px;
    float:right;
    display: flex;
    justify-content: center;
    align-items: center;
    &_search{
      position: absolute;
      top: 10px;
      right: 20px;
      width: 300px;
      height: 100px;
      input {
        font-family: 'Inconsolata', monospace;
        position: absolute;
        margin: auto;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        width: 50px;
        height: 50px;
        outline: none;
        border: none;
        background: crimson;
        color: white;
        text-shadow: 0 0 10px crimson;
        padding: 0 80px 0 20px;
        border-radius: 30px;
        box-shadow: 0 0 25px 0 crimson,0 20px 25px 0 rgba(0, 0, 0, 0.2);
        transition: all 1s;
        opacity: 0;
        z-index: 5;
        font-weight: bolder;
        letter-spacing: 0.1em;
        font-size: 20px;
        box-sizing: border-box;
        &:hover {
          cursor: pointer;
        }
        &:focus {
          width: 300px;
          opacity: 1;
          cursor: text;
        }
        &:focus ~ .search {
          right: -250px;
          background: #151515;
          z-index: 6;
          &::before {
            top: 0;
            left: 0;
            width: 25px;
          }
          &::after {
            top: 0;
            left: 0;
            width: 25px;
            height: 2px;
            border: none;
            background: white;
            border-radius: 0%;
            transform: rotate(-45deg);
          }
        }
        &::placeholder {
          color: white;
          opacity: 0.5;
          font-weight: bolder;
        }
      }
      .search{
        position: absolute;
        margin: auto;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        width: 60px;
        height: 60px;
        background: #AC1400;
        border-radius: 50%;
        transition: all 1s;
        z-index: 4;
        box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.4);
        
        &:hover {
          cursor: pointer;
        }
        &::before {
          content: "";
          position: absolute;
          margin: auto;
          top: 22px;
          right: 0;
          bottom: 0;
          left: 22px;
          width: 12px;
          height: 2px;
          background: white;
          transform: rotate(45deg);
          transition: all .5s;
        }
        &::after {
          content: "";
          position: absolute;
          margin: auto;
          top: -5px;
          right: 0;
          bottom: 0;
          left: -5px;
          width: 25px;
          height: 25px;
          border-radius: 50%;
          border: 2px solid white;
          transition: all .5s;
        }
      } 
    }
  }
}
.Ruby_main{
  padding-top:120px;
  width:100%;
  height:5000px;
  background: radial-gradient(ellipse at bottom, #1B2735 0%, #090A0F 100%);
  &_center{
    width: 65%;
    height:calc(100% - 60px);
    margin-left:20%;
    margin-top:50px;
    background-color: rgba(27,39,53,0.9);
    padding: 10px 20px 0;
    .topH {
      width: 250px;
      font-size:35px;
      position:relative;
      display:block;
      padding: 40px 0 20px 45px;
      color: white;
      z-index: 1;
      border-bottom: 3px solid white;
      margin-bottom: 20px;
      &:before{
        content:'';
        background-color:rgba(172,20,0,0.5);
        position:  absolute;
        left:  0;
        height: 90px;
        width: 90px;
        border-radius:  50%;
        top: 0;
        z-index:  -1;
      }
    }
    ul{
      border-radius :8px;/*角の丸み*/
      background-color: black;
      box-shadow :0px 0px 5px silver;/*5px=影の広がり具合*/
      padding: 0.5em 0.5em 0.5em 2em;
      list-style:circle;
      color:white;
      margin-bottom: 25px;
      li {
        line-height: 1.5;
        padding: 0.5em 0;
        font-size:20px;
        a{
          color:white;
          &:hover{
            opacity: 0.5;
          }
        }
      }
    }
    .detail_images{
      overflow: auto;
      img{
        // width:50%;
        float: left;
      }
    }
    .categoryH {
      position: relative;/*相対位置*/
      padding-left: 1.2em;/*アイコン分のスペース*/
      line-height: 1.4;/*行高*/
      font-size: 20px;
      color:white;
      margin-top:25px;
      &::before {
        font-family: "Font Awesome 5 Free";
        content: "\f075";/*アイコンのユニコード*/
        position: absolute;/*絶対位置*/
        font-size: 1em;/*サイズ*/
        left: 0;/*アイコンの位置*/
        top: 0;/*アイコンの位置*/
        color: #AC1400; /*アイコン色*/
      }
    }
  }
}