<div class="menu-item first"><label>Java概要</label>
  <%# <a href="#" class="menu-item-item1 detail">ラー</a><a href="#" class="menu-item-item2 detail">エラー</a>
  <a href="#" class="menu-item-item3 detail">エラー</a><a href="#" class="menu-item-item4 detail">エラー</a>
  <a href="#" class="menu-item-item5 detail">エラー</a><a href="#" class="menu-item-item6 detail">エラー</a>
  <a href="#" class="menu-item-item7 detail">エラー</a><a href="#" class="menu-item-item8 detail">エラー</a>
  <a href="#" class="menu-item-item9 detail">エラー</a><a href="#" class="menu-item-item10 detail">エラー</a>
  <a href="#" class="menu-item-item11 detail">エラー</a><a href="#" class="menu-item-item12 detail">エラー</a>
  <a href="#" class="menu-item-item13 detail">エラー</a><a href="#" class="menu-item-item14 detail">エラー</a> %>
</div>
<div class="menu-item second"><label>基本構文</label>
  <%# <a href="#" class="menu-item-item1 detail">エラー</a><a href="#" class="menu-item-item2 detail">エラー</a>
  <a href="#" class="menu-item-item3 detail">エラー</a><a href="#" class="menu-item-item4 detail">エラー</a>
  <a href="#" class="menu-item-item5 detail">エラー</a><a href="#" class="menu-item-item6 detail">エラー</a>
  <a href="#" class="menu-item-item7 detail">エラー</a><a href="#" class="menu-item-item8 detail">エラー</a>
  <a href="#" class="menu-item-item9 detail">エラー</a><a href="#" class="menu-item-item10 detail">エラー</a>
  <a href="#" class="menu-item-item11 detail">エラー</a><a href="#" class="menu-item-item12 detail">エラー</a>
  <a href="#" class="menu-item-item13 detail">エラー</a><a href="#" class="menu-item-item14 detail">エラー</a> %>
</div>
<div class="menu-item third"><label>統合開発環境</label>
  <a href="#" class="menu-item-item1 detail">Eclipse</a><a href="#" class="menu-item-item2 detail">Intelli</a>
  <a href="#" class="menu-item-item3 detail">IDEA</a><a href="#" class="menu-item-item4 detail">NetBeans</a>
</div>
<div class="menu-item four"><label>フレームワーク</label>
  <a href="#" class="menu-item-item1 detail"><p>Apache</p><p>Wicket</p></a><a href="#" class="menu-item-item2 detail">Dropwizard</a>
  <a href="#" class="menu-item-item3 detail">JavaEE</a><a href="#" class="menu-item-item4 detail">JSF</a>
  <a href="#" class="menu-item-item5 detail">Ninja web</a><a href="#" class="menu-item-item6 detail">Play</a>
  <a href="#" class="menu-item-item7 detail">SAStruts</a><a href="#" class="menu-item-item8 detail">Spark</a>
  <a href="#" class="menu-item-item9 detail">SpringBoot</a><a href="#" class="menu-item-item10 detail">Spring</a>
  <a href="#" class="menu-item-item11 detail">Struts</a><a href="#" class="menu-item-item12 detail">ZK</a>
</div>
<div class="menu-item five"><label>パッケージ</label>
  <%# <a href="#" class="menu-item-item1 detail">エラー</a><a href="#" class="menu-item-item2 detail">エラー</a>
  <a href="#" class="menu-item-item3 detail">エラー</a><a href="#" class="menu-item-item4 detail">エラー</a>
  <a href="#" class="menu-item-item5 detail">エラー</a><a href="#" class="menu-item-item6 detail">エラー</a>
  <a href="#" class="menu-item-item7 detail">エラー</a><a href="#" class="menu-item-item8 detail">エラー</a>
  <a href="#" class="menu-item-item9 detail">エラー</a><a href="#" class="menu-item-item10 detail">エラー</a>
  <a href="#" class="menu-item-item11 detail">エラー</a><a href="#" class="menu-item-item12 detail">エラー</a>
  <a href="#" class="menu-item-item13 detail">エラー</a><a href="#" class="menu-item-item14 detail">エラー</a> %>
</div>
<div class="menu-item six"><a href="#" class="menu-item-go" >エラー解決</a></div>