<div class="header">
  <div class="header_left">
  </div>
  <div class="header_center">
    <%= render partial: 'indexicon'%>
  </div>
  <div class="header_right">
  </div>
</div>
<div class="main">
  <span class="render">Java</span>
  <span class="render">HTML</span>
  <span class="render">CSS</span>
  <span class="render">JavaScript</span>
  <span class="render">PHP</span>
  <span class="render">Ruby</span>
</div>
<div class="footer">
</div>